body{
	margin: 15px auto 0;
	width: 80%;
}
.logo_main{
	color: #990000;
	font-size: 4em;
	font-family: 'nipey', cursive, fantasy; 
	margin: 24px 0 0.2em;
	box-shadow: 1px 1px 8px grey;
	width: 59%;
	position: sticky;
	top: 0;
	border-radius: 15px;
	background-color: white;
	opacity: 0.9;

}
ul li, a{
	text-decoration: none;
	display: inline;
	padding: 3px;
	color: #990000;
	font-size: 20px; 
}
h3{
	font-size: 15px;
	font-family: 'nipey', cursive, fantasy;
}
.deadpool1{
	float: right;
	position: fixed;
	bottom: 0;
	right: 0;

}
#inha_mail{
	color: red;
	border: 1px dashed red;
	position: fixed;
	top: 0;
	right: 0;
	margin: 5px 5px 0 0;
}